@model cleansl8.Models.Slate 
@{
    ViewData["Title"] = "IRC HOME";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IRC TEST WALK</title>
</head>
<body>

<h3>@Model.Name</h3>
<br>
<h3>@Model.Id</h3>


</body>
</html>